[Unit]
Description=kickoff ansible Postinstallation tasks
After=network.target sshd.service NetworkManager-wait-online.service
Requires=sshd.service NetworkManager-wait-online.service
Wants=getty-pre.target
Before=getty-pre.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '( /etc/init.d/azfirstboot.sh  && systemctl disable azfirstboot.service ) >> /root/firstboot.log 2>&1'
ExecStop=/bin/echo "Do nothing"

[Install]
WantedBy=multi-user.target

